<h1>New Dog for Adoption!</h1>

<form method="post" action="/dogs">
<p>
<div><label for="name">Name</label></div>
<input id="name" type="name" name="dog[name]" value="<%= @dog.name %>" />
</p>

<p>
<div><label for="breed">Breed</label></div>
<input id="breed" type="breed" name="dog[breed]" value="<%= @dog.breed %>" />
</p>

<p>
<div><label for="age">Age</label></div>
<input id="age" type="age" name="dog[age]" value="<%= @dog.age %>" />
</p>

<%# submit button %>
<input type="submit" value="Create Adoption"> </form>