<form method="post" action="/users/<%= @user.id %>">
<input type="hidden" name="_method" value="patch" />

<p>
<div><label for="email">Email</label></div>
<input id="email" type="email" name="user[email]" value="<%= @user.email %>" />
</p>
<input type="submit" value="Update" />
</form>